.create-channel-section {
    padding: 0 200px;
    margin-top: 180px;
    font-family: 'Roboto Condensed', sans-serif;
}

.create-channel-section-header {
    font-size: 44px;
    text-align: center;
}

.create-channel-section-grid {
    margin-top: 25px !important;
}

.create-channel-section-grid-column {
    text-align: center;
}

.ui.grid>.row {
    margin-top: 35px;
}

.create-channel-section-grid-column-header {
    display: block;
}